html{
	height:100%;
	width:100%;
	--font-size: 16px;
	font-size: var(--font-size);
}
body{
	accent-color: var(--theme-accent-primary);
	scrollbar-color: var(--theme-scrollbar-color) var(--theme-scrollbar-bg);
	font-family: Verdana, sans-serif;
	margin:0rem;
	overflow: hidden;
	justify-content: center;
	background-color: var(--theme-background-primary);

	height:100%;
	width:100%;

	color: var(--theme-text-color);
	display: flex;
}
