*{
	transition: all 0.2s;
}

:host{
	width: 15rem;
	height: 15rem;
	display: block;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

img{
	width: 100%;
}

.title{
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	font-size: 1.3rem;
	text-wrap: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

:host(:hover){
	background-color: rgb(150, 150, 150);
}
:host(:hover) .title{
	text-wrap: unset;
}

:host(:hover) > .title{
	filter: invert(75%);
}
