*{
	transition: all 0.2s;
}

:host{
	width: 15rem;
	height: 15rem;
	display: block;
	overflow: hidden;
	position: relative;
}

:hover{
	background-color: rgb(150, 150, 150);
}

img{
	width: 100%;
}

.name{
	position: absolute;
	bottom: 0;
}
